body {
	background: black;
	font-family: Arial, sans-serif;
}

.button {
	background-color: #007bff;
	color: white;
	padding: 10px 10px;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #0056b3;
}
