table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

body {
    font-family: sans-serif;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}